
h1 {
    text-align: center;
}
   
body {
    background-color:blue; color:orange;
}
img {
    display: block;
    margin-left: auto;
    margin-right:auto;
}
p {
   text-align: center;
}
ol {
    text-align: center;
}
img {
     border-radius: 50px;
}
li {
    text-align-center;
}
